<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" type="text/css" th:href="@{/css/emp_register.css}">
<style>
    /* 움직이는 텍스트 */
    .animated-title {
        font-size:30px;
        font-family:'Raleway',Sans-serif;
        font-weight:300;
        position: relative;
        width: 100%;
        max-width:100%;
        height: auto;
        padding:100px 0;
        overflow-x: hidden;
        overflow-y: hidden;
        margin-bottom: 20px;
    }
    .animated-title .track {
        position: absolute;
        white-space: nowrap;
        will-change: transform;
        animation: marquee 60s linear infinite;
    }
    @keyframes marquee {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(-50%);
        }
    }
    @media (hover: hover) and (min-width: 700px){
        .animated-title .content {
            -webkit-transform: translateY(calc(100% - 8rem));
            transform: translateY(calc(100% - 8rem));
        }
    }
    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
        margin-top: 0px;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }

    th {
        background-color: #f2f2f2;
    }

    tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    select {
        padding: 6px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    .titleMent{
        margin-top:-150px;
    }

    .map_wrap {position:relative;width:100%;height:350px;}
    .title {font-weight:bold;display:block;}
    .hAddr {position:absolute;left:10px;top:10px;border-radius: 2px;background:#fff;background:rgba(255,255,255,0.8);z-index:1;padding:5px;}
    #centerAddr {display:block;margin-top:2px;font-weight: normal;}
    .bAddr {padding:5px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
    .submit{
        text-align:center;
    }
    .container{
        position:relative;
    }
</style>
<script>
    function closePopup(){
        window.close();
    }
</script>
<body>
<div class="animated-title">
    <div class="track">
        <div class="content">
            &nbsp;&nbsp;&nbsp;<b><span sec:authorize="isAuthenticated()" th:text="${#authentication.principal.username}"></span></b>님의 취업을 진심으로 축하드립니다!
            &nbsp;&nbsp;&nbsp;<b><span sec:authorize="isAuthenticated()" th:text="${#authentication.principal.username}"></span></b>님의 취업을 진심으로 축하드립니다!
            &nbsp;&nbsp;&nbsp;<b><span sec:authorize="isAuthenticated()" th:text="${#authentication.principal.username}"></span></b>님의 취업을 진심으로 축하드립니다!
            &nbsp;&nbsp;&nbsp;<b><span sec:authorize="isAuthenticated()" th:text="${#authentication.principal.username}"></span></b>님의 취업을 진심으로 축하드립니다!
            &nbsp;&nbsp;&nbsp;<b><span sec:authorize="isAuthenticated()" th:text="${#authentication.principal.username}"></span></b>님의 취업을 진심으로 축하드립니다!
            &nbsp;&nbsp;&nbsp;<b><span sec:authorize="isAuthenticated()" th:text="${#authentication.principal.username}"></span></b>님의 취업을 진심으로 축하드립니다!
        </div>
    </div>
</div><h2 class="titleMent" style="color:red;"><b>현직자 신청 양식</b></h2>
<form action="emp/register" th:action method="post" th:object="${form}"
      enctype="multipart/form-data" id="saveEmpForm">
    <table>
        <tr>
            <td>이메일</td>
            <td colspan="5"><span th:text="${#authentication.principal.email}">사용자 이메일</span></td>
        </tr>
        <tr>
            <td>이름</td>
            <td colspan="5"><span th:text="${#authentication.principal.username}">사용자 이름</span>
            </td>
        </tr>
        <tr>
            <td>회사규모</td>
            <td colspan="5" th:classappend="${#fields.hasErrors('comSize')}? 'th:field-error'">
                <input type="radio" class="input" id="comsize1" th:field="*{comSize}" value="스타트업">스타트업
                <input type="radio" class="input" id="comsize2" th:field="*{comSize}" value="중소">중소
                <input type="radio" class="input" id="comsize3" th:field="*{comSize}" value="중견">중견
                <input type="radio" class="input" id="comsize4" th:field="*{comSize}" value="대기업">대기업
                <div class="field-error" th:errors="*{comSize}"></div>
            </td>
        </tr>
        <tr>
            <td>기업인력규모</td>
            <td colspan="5">
                <input type="radio" id="compeople1" class="input" th:field="*{comPeople}" value="5~10인">5~10인
                <input type="radio" id="compeople2" class="input" th:field="*{comPeople}" value="10~30인">10~30인
                <input type="radio" id="compeople3" class="input" th:field="*{comPeople}" value="30~50인">30~50인
                <input type="radio" id="compeople4" class="input" th:field="*{comPeople}" value="50~100인">50~100인
                <input type="radio" id="compeople5" class="input" th:field="*{comPeople}" value="100인 이상">100인 이상
            </td>
        </tr>
        <tr>
            <td>지원분야
            </td>
            <td colspan="5">
                <input type="radio" id="field1" th:field="*{field}" class="input" value="SI">SI
                <input type="radio" id="field2" th:field="*{field}" class="input" value="SM">SM
                <input type="radio" id="field3" th:field="*{field}" class="input" value="솔루션">솔루션
                <input type="radio" id="field4" th:field="*{field}" class="input" value="서비스">서비스
                <input type="radio" id="field5" th:field="*{field}" class="input" value="기타">기타
                <input type="radio" id="field6" th:field="*{field}" class="input" value="기타(非IT)">기타(非IT)
            </td>
        </tr>
        <tr>
            <td>직무
            </td>
            <td colspan="5">
                <input type="radio" id="role1" th:field="*{role}" class="input" value="백엔드">백엔드
                <input type="radio" id="role2" th:field="*{role}" class="input" value="프론트엔드">프론트엔드
                <input type="radio" id="role3" th:field="*{role}" class="input" value="풀스택">풀스택
                <input type="radio" id="role4" th:field="*{role}" class="input" value="데브옵스">데브옵스
                <input type="radio" id="role5" th:field="*{role}" class="input" value="임베디드">임베디드
                <input type="radio" id="role6" th:field="*{role}" class="input" value="DBA">DBA
                <input type="radio" id="role7" th:field="*{role}" class="input" value="기타">기타
            </td>
        </tr>
        <tr>
            <td>지원형태
            </td>
            <td colspan="5">
                <input type="radio" id="career1" th:field="*{career}" class="input" value="신입">신입
                <input type="radio" id="career2" th:field="*{career}" class="input" value="중고신입">중고신입
                <input type="radio" id="career3" th:field="*{career}" class="input" value="기타">기타
            </td>
        </tr>
        <tr>
            <td>연봉
                <br>
                <select id="salary_status" th:field="*{salary_status}">
                    <option value="공개">공개</option>
                    <option value="비공개">비공개</option>
                </select>
            </td>
            <td colspan="5">
                <input type="radio" id="salary1" th:field="*{salary}" class="input" value="~2,600만원">~2,600만원
                <input type="radio" id="salary2" th:field="*{salary}" class="input" value="2,600~3,000만원">2,600~3,000만원
                <input type="radio" id="salary3" th:field="*{salary}" class="input" value="3,000~3,400만원">3,000~3,400만원<br>
                <input type="radio" id="salary4" th:field="*{salary}" class="input" value="3,400~3,800만원">3,400~3,800만원
                <input type="radio" id="salary5" th:field="*{salary}" class="input" value="3,800~4,200만원">3,800~4,200만원
                <input type="radio" id="salary6" th:field="*{salary}" class="input" value="4,200만원~">4,200만원~
                <div style="color:red;">※연봉 미공개 설정시 프로필 정보에 반영되지 않지만 통계 데이터에는 반영이 됩니다.※</div>
            </td>
        </tr>
        <tr>
            <td>수료 후 준비기간</td>
            <td colspan="5">
                <input type="radio" id="periodtime1" th:field="*{periodTime}" class="input" value="수료 전">수료 전
                <input type="radio" id="periodtime2" th:field="*{periodTime}" class="input" value="수료 후 1개월 이내">수료 후 1개월 이내
                <input type="radio" id="periodtime3" th:field="*{periodTime}" class="input" value="수료 후 1개월~3개월">수료 후 1개월~3개월
                <input type="radio" id="periodtime4" th:field="*{periodTime}" class="input" value="수료 후 3개월~6개월">수료 후 3개월~6개월
                <input type="radio" id="periodtime5" th:field="*{periodTime}" class="input" value="수료 후 6개월~1년">수료 후 6개월~1년
                <input type="radio" id="periodtime6" th:field="*{periodTime}" class="input" value="수료 후 1년~">수료 후 1년~
            </td>
        </tr>
        <tr>
            <td>학력</td>
            <td colspan="5">
                <input type="radio" id="education1" th:field="*{education}" class="input" value="~고졸">~고졸
                <input type="radio" id="education2" th:field="*{education}" class="input" value="전문대졸">전문대졸
                <input type="radio" id="education3" th:field="*{education}" class="input" value="대학교졸(수도권)">대학교졸(수도권) *졸업예정포함
                <input type="radio" id="education4" th:field="*{education}" class="input" value="대학교졸(비수도권)">대학교졸(비수도권)
                <input type="radio" id="education5" th:field="*{education}" class="input" value="대학원">대학원
                <input type="radio" id="education6" th:field="*{education}" class="input" value="기타">기타
            </td>
        </tr>
        <tr>
            <td>전공 유무</td>
            <td colspan="5">
                <input type="radio" id="major1" th:field="*{major}" value="전공">전공
                <input type="radio" id="major2" th:field="*{major}" value="비전공">비전공
            </td>
        </tr>
        <tr>
            <td>취업 당시 보유 자격증</td>
            <td colspan="5">
                <input type="checkbox" id="certification1" th:field="*{certification}" class="input certification" value="없음">없음
                <input type="checkbox" id="certification2" th:field="*{certification}" class="input certification" value="정보처리기사(필기)">정보처리기사(필기)
                <input type="checkbox" id="certification3" th:field="*{certification}" class="input certification" value="정보처리기사(실기)">정보처리기사(실기)
                <input type="checkbox" id="certification4" th:field="*{certification}" class="input certification" value="SQLD">SQLD
                <input type="checkbox" id="certification5" th:field="*{certification}" class="input certification" value="AWS">AWS
                <input type="checkbox" id="certification6" th:field="*{certification}" class="input certification" value="기타">기타
            </td>
        </tr>
        <tr>
            <td>취업회사 지역 </td>
            <td colspan="5">
                <input type="radio" id="location1" th:field="*{location}" class="input" value="구로/가산 디지털단지">구로/가산 디지털단지
                <input type="radio" id="location2" th:field="*{location}" class="input" value="강남">강남
                <input type="radio" id="location3" th:field="*{location}" class="input" value="판교">판교
                <input type="radio" id="location4" th:field="*{location}" class="input" value="DMC(상암)">DMC(상암)
                <input type="radio" id="location5" th:field="*{location}" class="input" value="영등포">영등포
                <input type="radio" id="location6" th:field="*{location}" class="input" value="시청,종로">시청,종로
                <input type="radio" id="location7" th:field="*{location}" class="input" value="기타">기타
            </td>
        </tr>
        <tr>
            <td>지도에서 선택하기
                <br>

            </td>
            <td colspan="5">
                <div class="map_wrap">
                    <div id="map" style="width:100%;height:100%;position:relative;overflow:hidden;"></div>
                    <div class="hAddr">
                        <span class="title">지도중심기준 행정동 주소정보</span>
                        <span id="centerAddr"></span>
                    </div>
                    <input type="hidden" id="location_api"     th:field="*{location_api}" value="">
                    <input type="hidden" id="location_api_lat" th:field="*{location_api_lat}" value="">
                    <input type="hidden" id="location_api_lng" th:field="*{location_api_lng}" value="">
                </div>
            </td>
        </tr>
        <tr>
            <td>취업일시</td>
            <td colspan="5">
                <input type="month" id="workStart" th:field="*{workStart}" value="취업일시">
            </td>
        </tr>
        <tr>
            <td>합격인증
                <br>
            </td>
            <td colspan="5">
                <p style="color:red;"><b>최종합격 문자/메일 혹은 명함을 캡쳐해서 첨부해주세요!</b></p>
                <input type="file" id="upload" class="input" th:field="*{multipartFile}">
            </td>
        </tr>
        <tr>
            <td>후배 쌍용인들에게 조언 한 마디!</td>
            <td colspan="5">
                <textarea cols="50" rows="5" id="advice" class="input" th:field="*{advice}"></textarea>
            </td>
        </tr>

    </table>
    <div class="button">
        <input type="submit" class="submit" value="제출">
        <input type="button" class="submit" value="취소" onclick="closePopup()">
    </div>
</form>
<br>
</body>
<script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script>
    $(document).ready(function () {
        // 체크박스의 클릭 이벤트 감지
        $('.certification').click(function () {
            // 체크된 체크박스의 값
            var checkedValue = $('.certification:checked').val();

            // "없음" 체크박스를 선택한 경우
            if (checkedValue == '0') {
                // 다른 체크박스들 비활성화
                $('.certification:not(:checked)').prop('disabled', true);
            } else {
                // "없음"이 아닌 경우 모든 체크박스 활성화
                $('.certification').prop('disabled', false);
            }

            // "없음"을 제외한 다른 체크박스가 체크되면 "없음" 버튼 비활성화
            if (checkedValue != '0') {
                $('#certification1').prop('disabled', true);
            }
        });

        // "없음"을 제외한 다른 체크박스가 체크되지 않은 경우 "없음" 버튼 활성화
        $('.certification').not('#certification1').click(function () {
            if (!$('.certification:not(#certification1):checked').length) {
                // "없음" 체크박스 활성화
                $('#certification1').prop('disabled', false);
            }
        });
    });
    $(function () {
        console.log('test');
        console.log($('#location_api').val().trim());
        console.log('test');

        $('#empInsertForm').submit(function () {
            let groups = ['comSize', 'comPeople', 'field', 'role', 'career', 'salary', 'periodTime', 'education', 'major', 'certification', 'location', 'workStart'];

            for (let i = 0; i < groups.length; i++) {
                let selected = false;
                let radios = document.getElementsByName(groups[i]);

                for (let j = 0; j < radios.length; j++) {
                    if (radios[j].checked) {
                        selected = true;
                        break;
                    }
                }

                if (!selected) {
                    let label = document.querySelector('label[for="' + groups[i] + '"]');
                    alert(label.textContent + ' 항목은 필수 선택입니다.');
                    return false;
                }
            }

            if($('#location_api').val().trim()==''){
                alert('지도에서 위치를 선택하세요');
                return false;
            }

        });
    })
</script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=4e592360b98e7e7af7c0620352a4709c&libraries=services"></script>
<script>
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(37.499372511200875, 127.0332593788492), // 지도의 중심좌표
            level: 7 // 지도의 확대 레벨
        };

    // 지도를 생성합니다
    var map = new kakao.maps.Map(mapContainer, mapOption);

    // 주소-좌표 변환 객체를 생성합니다
    var geocoder = new kakao.maps.services.Geocoder();

    var marker = new kakao.maps.Marker(), // 클릭한 위치를 표시할 마커입니다
        infowindow = new kakao.maps.InfoWindow({zindex:1}); // 클릭한 위치에 대한 주소를 표시할 인포윈도우입니다

    // 현재 지도 중심좌표로 주소를 검색해서 지도 좌측 상단에 표시합니다
    searchAddrFromCoords(map.getCenter(), displayCenterInfo);

    // 지도를 클릭했을 때 클릭 위치 좌표에 대한 주소정보를 표시하도록 이벤트를 등록합니다
    kakao.maps.event.addListener(map, 'click', function(mouseEvent) {
        searchDetailAddrFromCoords(mouseEvent.latLng, function(result, status) {
            if (status === kakao.maps.services.Status.OK) {
                var detailAddr = !!result[0].road_address ? '<div>도로명주소 : ' + result[0].road_address.address_name + '</div>' : '';
                detailAddr += '<div>지번 주소 : ' + result[0].address.address_name + '</div>';

                var content = '<div class="bAddr">' +
                    '<span class="title">법정동 주소정보</span>' +
                    detailAddr +
                    '</div>';
                //주소정보를 입력폼에 저장
                var result = result[0].address.address_name;

                document.getElementById('location_api').value=result;



                // 마커를 클릭한 위치에 표시합니다
                marker.setPosition(mouseEvent.latLng);
                marker.setMap(map);

                // 인포윈도우에 클릭한 위치에 대한 법정동 상세 주소정보를 표시합니다
                infowindow.setContent(content);
                infowindow.open(map, marker);
            }
        });
    });

    // 중심 좌표나 확대 수준이 변경됐을 때 지도 중심 좌표에 대한 주소 정보를 표시하도록 이벤트를 등록합니다
    kakao.maps.event.addListener(map, 'idle', function() {
        searchAddrFromCoords(map.getCenter(), displayCenterInfo);
    });

    function searchAddrFromCoords(coords, callback) {
        // 좌표로 행정동 주소 정보를 요청합니다
        geocoder.coord2RegionCode(coords.getLng(), coords.getLat(), callback);
    }

    //좌표의 lat, lng 값 얻어내기
    var lat;
    var lng;

    function searchDetailAddrFromCoords(coords, callback) {
        // 좌표로 법정동 상세 주소 정보를 요청합니다
        geocoder.coord2Address(coords.getLng(), coords.getLat(), callback);
        lat = coords.getLat();
        lng = coords.getLng();

        //좌표 정보를 입력폼에 hidden으로 저장
        document.getElementById('location_api_lat').value=lat;
        document.getElementById('location_api_lng').value=lng;
    }



    // 지도 좌측상단에 지도 중심좌표에 대한 주소정보를 표출하는 함수입니다
    function displayCenterInfo(result, status) {
        if (status === kakao.maps.services.Status.OK) {
            var infoDiv = document.getElementById('centerAddr');

            for(var i = 0; i < result.length; i++) {
                // 행정동의 region_type 값은 'H' 이므로
                if (result[i].region_type === 'H') {
                    infoDiv.innerHTML = result[i].address_name;
                    break;
                }
            }
        }
    }
</script>
</html>