<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" th:href="@{/css/emp_register.css}">
<script>
    function closePopup(){
        window.close();
    }
</script>
<body>

<h2><span th:text="|[${session.loginMember.username}]님의 취업 정보|"></span></h2>
<div class="marquee">
    <b><span th:text="${session.loginMember.username}"></span></b>
</div>
<form action="emp/register" th:action method="post" th:object="${form}"
      enctype="multipart/form-data" id="empForm">
    <table>
        <tr>
            <td style="width:30%;">이메일</td>
            <td style="width:70%;"><span th:text="${session.loginMember.getEmail()}">사용자 이메일</span></td>
        </tr>
        <tr>
            <td>이름</td>
            <td colspan="7"><span th:text="${session.loginMember.getUsername()}">사용자 이름</span>
            </td>
        </tr>
        <tr>
            <td>회사규모</td>
            <td colspan="7"><span th:text="*{comSize}"></span></td>
        </tr>
        <tr>
            <td>기업인력규모</td>
            <td colspan="7">
                <span th:text="*{comPeople}"></span>
            </td>
        </tr>
        <tr>
            <td>지원분야
            </td>
            <td colspan="7">
                <span th:text="*{field}"></span>
            </td>
        </tr>
        <tr>
            <td>직무
            </td>
            <td colspan="7">
                <span th:text="*{field}"></span>
            </td>
        </tr>
        <tr>
            <td>지원형태
            </td>
            <td colspan="7">
                <span th:text="*{role}"></span>
            </td>
        </tr>
        <tr>
            <td>연봉(공개유무)
                <br>
                <span th:text="*{salary_status}"></span>
            </td>
            <td colspan="7">
                <span th:text="*{salary}"></span>
            </td>
        </tr>
        <tr>
            <td>수료 후 준비기간</td>
            <td colspan="7">
                <span th:text="*{periodTime}"></span>
            </td>
        </tr>
        <tr>
            <td>학력</td>
            <td colspan="7">
                <span th:text="*{education}"></span>
            </td>
        </tr>
        <tr>
            <td>전공 유무</td>
            <td colspan="7">
                <span th:text="*{major}"></span>
            </td>
        </tr>
        <tr>
            <td>취업 당시 보유 자격증</td>
            <td colspan="7">
                <span th:text="*{certification}"></span>
            </td>
        </tr>
        <tr>
            <td>취업회사 지역 </td>
            <td colspan="7">
                <span th:text="*{location}"></span>
            </td>
        </tr>
        <tr>
            <td>지도에서 선택하기
                <br>

            </td>
            <td colspan="7">
                <div class="map_wrap">
                    <div id="map" style="width:100%;height:100%;position:relative;overflow:hidden;"></div>
                    <div class="hAddr">
                        <span class="title">지도중심기준 행정동 주소정보</span>
                        <span id="centerAddr"></span>
                    </div>
                    <input type="hidden" id="location_api"     th:field="*{location_api}" value="">
                    <input type="hidden" id="location_api_lat" th:field="*{location_api_lat}" value="">
                    <input type="hidden" id="location_api_lng" th:field="*{location_api_lng}" value="">
                </div>
            </td>
        </tr>
        <tr>
            <td>취업일시</td>
            <td colspan="7">
                <span th:text="*{workStart}"></span>
            </td>
        </tr>
        <tr>
            <td>합격인증
                <br>
            </td>
            <td colspan="7">
                <img th:src="@{/photoView(num=${form.id}, category=EMP_INFO)}" style="max-height: 150px;">
            </td>
        </tr>
        <tr>
            <td>후배 쌍용인들에게 조언 한 마디!</td>
            <td colspan="7">
                <span th:text="*{advice}"></span>
            </td>
        </tr>

    </table>
    <div class="button">
        <input type="button" class="submit" value="확인" onclick="closePopup()">
    </div>
</form>
</body>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=4e592360b98e7e7af7c0620352a4709c&libraries=services"></script>
<script th:inline="javascript">

    //지도의 위치 정보 받아오기
    var api =  /*[[${form.location_api}]]*/ '';
    var lat = /*[[${form.location_api_lat}]]*/ '';
    var lng = /*[[${form.location_api_lng}]]*/ '';
    var user_num = /*[[${form.member.id}]]*/ '';
    var category = 'PROFILE_IMAGE';

    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(lat,lng), // 지도의 중심좌표
            level: 7 // 지도의 확대 레벨
        };

    console.log(location_api);

    var map = new kakao.maps.Map(document.getElementById('map'), { // 지도를 표시할 div
        center : new kakao.maps.LatLng(lat, lng), // 지도의 중심좌표
        level : 9 // 지도의 확대 레벨
    });



    var content = '<div class ="label"><span class="left"></span><span class="center">'
        +'<br><img src="/photoView?num='+user_num+'&category='+category+'" width="40" height="40" class="my-photo"></span><span class="right">'
        +'</span></div>';

    // 커스텀 오버레이가 표시될 위치입니다
    var position = new kakao.maps.LatLng(lat,lng);

    // 커스텀 오버레이를 생성합니다
    var customOverlay = new kakao.maps.CustomOverlay({
        position: position,
        content: content
    });

    // 커스텀 오버레이를 지도에 표시합니다
    customOverlay.setMap(map);

</script>
</html>