/* 채팅창
-------------------------*/
/* 채팅방 
-------------------------*/
#page_nav2{
   float:left;
   width:30%;
   min-height:560px;
   margin-left:150px;

}
#page_body2{
   width:55%;
   float:left;
   border: 1px solid black;
   height:560px;
}
.page_clear{
   clear:both;
}
.side-bar{
   margin:10px 10px 10px 0;
   padding:10px;
   /*사이드바의 높이가 컨텐트의 높이와 동일하게 자동 조절*/
   margin-bottom:-9999px;
   padding-bottom:9999px;
   background-color:#cecccc;
}
.side-bar ul{
   margin:0;
   padding:0;
}
.side-bar ul li{
   padding:5px 10px 5px 10px;
}
.side-bar ul li img{
   margin-left:3px;
}
.side-height{
   /*사이드바의 높이가 컨텐트의 높이와 동일하게 자동조절하게ㅣ 위해 흘러넘친 배경색은 숨김*/
   overflow:hidden;
   margin:0 auto;
   width:80%;
    margin-bottom:200px;	
}
.menu-btn{
   width:100%;
   height:50px;
   font-size:12pt;
   background-color:#fcfcfc;
   border-color:#b7b5b5;
   border-radius:5px;
}
.chat_profile {
	background-color:white;
	position:relative;
	font-size:20px;
	font-weight:bold;
	background-color:white;
	border-radius:5px;
 
}
.chat_profile div{
	position:absolute;
	margin-top:-40px;
	margin-left:70px;
	font-size:20px;
	font-weight:bold;
 
}
.chat_profile div span{
	margin-left:10px;
	font-size:15px;
	font-weight:bold;
}
.chat_list{
	background-color:white;
	height:450px;
	overflow:auto;
	border-radius:5px;
}
.chatListBox{
	position:relative;
	z-index:1;
	border:1px solid black;
	cursor:pointer;
	height:70px;
}
.chatListBox .chat_title{
	font-weight:bold;
	font-size:20px;
}
.chatListBox img{
	position:absolute;
}
.chatListBox .chat_count{
	position:absolute;
	margin-left:300px;
	margin-top:-30px;
	background-color:red;
	text-align:center;
	width:30px;
	border-radius:10px;
	color:white;
}
.chat_delete{
	position:relative;
	z-index:5;
	margin-left:355px;
	margin-top:-37px;
	width:20px;
	text-align:center;
	background-color:#dee2e6;
	border-radius:15px;
	color:gray;
}
.selected{
	background-color: lightgreen;
}
.chat_detail{
	border:1px solid black;
	background-color:#cecccc;
}
#textareaBox{
	margin:0 auto;
	width:90%;
	position:abslute;
	margin-top:30px;
	text-align:center;
}
#textareaBox textarea{
  width: 500px; 
  height: 120px; 
  resize: none;
  border-radius:6px;
  
}
#message_btn{
	position:absolute;
	margin:0 auto;
	margin-left:550px;
	margin-top:-50px;
}
#message_btn input[type=submit]{
	width:80px;
	height:100px;
	cursor:pointer;
	background-color: #ff69b4; /* 분홍색 */
    color: #fff; /* 텍스트 색상을 흰색으로 설정 */
    padding: 10px 20px; /* 버튼 내부 여백 설정 */
    font-size: 16px; /* 텍스트 크기 설정 */
    border: none; /* 테두리 없음 */
    border-radius: 5px; /* 모서리를 둥글게 설정 */
    cursor: pointer; /* 포인터 모양으로 변경하여 클릭 가능함을 나타냄 */
    text-decoration: none; /* 기본 텍스트 밑줄 제거 */
    line-height: 1;
}
#message_btn input[type=submit]:hover{
	background-color: #ff3385;
}
.chatStart{
	border:1px solid #adb5bd;
	width:250px;
	height:250px;
	font-weight:bold;
	margin:0 auto;
	text-align:center;
	padding-top:100px;
	margin-top:130px;
	border-radius:15px;
	color:#adb5bd;
}
.chat_Readcount{
	background-color:red;
	margin-bottom:-20px;
	text-align:center;
	font-size:8px;
	width:20px;
	border-radius:10px;
	color:white;
}
/* 채팅하기
-------------------------*/
#chatting_message{
	border:1px solid black;
	width:85%;
	height:400px;
	margin:0 auto;
	padding:10px;
	overflow:auto;
}
.date-position{
	text-align:center;
}
.date-position span{
	display:inline-block;
	width:300px;
	height:20px;
	border-radius:10px;
	background-color:#f2efef;
}
.from-position{
	width:240px;
	margin:10px 0 10px auto;
}
.from-position .item{
	background-color:yellow;
	padding:10px;
	min-height:30px;
	border-radius:20px;
	border-top-right-radius:0;
}
.to-position{
	width:240px;
	margin:10px 0 10px 0;
}
.to-position .item{
	background-color:pink;
	padding:10px;
	min-height:30px;
	border-radius:20px;
	border-top-left-radius:0;
}
.to-position div.space-photo{
	float:left;
	width:15%;
}
.to-position div.space-message{
	float:left;
	width:85%;
}
.to-position div.space-clear{
	clear:both;
}
.member-message{
	width:230px;
	min-height:24px;
	border-radius:10px;
	background-color:#eee;
	margin:10px auto;
	text-align:center;
	padding:8px 4px;
	clear:both;
}
.align-right{
	text-align:right;
}
#delete_btn {
	margin-top: 20px;
	text-align: center;
}

#delete_btn .chat_delete {
	width: 100px;
	height: 40px;
	cursor: pointer;
	background-color: #dc3545; /* 레드 색상 */
	color: #fff; /* 텍스트 색상을 흰색으로 설정 */
	padding: 5px 20px; /* 버튼 내부 여백 설정 */
	margin-right: 100px;
	font-size: 16px; /* 텍스트 크기 설정 */
	border: none; /* 테두리 없음 */
	border-radius: 5px; /* 모서리를 둥글게 설정 */
	cursor: pointer; /* 포인터 모양으로 변경하여 클릭 가능함을 나타냄 */
	text-decoration: none; /* 기본 텍스트 밑줄 제거 */
	line-height: 1;
}

#leave_btn .chat_delete:hover {
	background-color: #c82333; /* 다크 레드 색상 */
}