<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer th:fragment="footer">
    <div class="footer">
        <div id="footer_content">
            <hr style="border: none; height: 1px; background-color: black; width: 100%;">
            <img id="footer_logo" th:src="@{/images/pageMain/logo.jpg}">
            <p>&copy;2024 Hello World!</p>
            <p>본 컨텐츠의 저작권은 제공처에 있으며, 이를 무단 이용하는 경우 저작권법에 따라 법적 책임을 질 수 있습니다.</p>
        </div>
    </div>
</footer>
</body>
</html>